<div class="other-content">
  <div class="other">
    <ion-text>Last Updated: {{technique?.updatedAt | date: 'dd/MM/yyyy'}}</ion-text>
  </div>
  <div class="other">
    <ion-text>Created on: {{technique?.createdAt| date: 'dd/MM/yyyy'}}</ion-text>
  </div>

  <div class="other">
    <ion-text>Number of videos: {{media?.videos.length}}</ion-text>
  </div>

  <div class="other">
    <ion-text>Number of photos: {{media?.photos.length}}</ion-text>
  </div>

  <div class="other">
    <ion-text>Number of documents: {{media?.documents.length}}</ion-text>
  </div>
</div>


