<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Techniques Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="segment-group">
    <ion-segment mode="ios" color="primary" [value]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="set">
        <ion-label>Set</ion-label>
      </ion-segment-button>
      <ion-segment-button value="color">
        <ion-label>Colour</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list >
    <ion-item *ngFor="let tech of techniques$ | async" lines="full" [button]="true" (click)="goToTechniques(tech)" [disabled]="isLocked(tech)">
      <ion-label>
        <div class="top-line">
          <span>{{tech.techniqueSetTitle}}</span>
          <div class="grades-section">
            <app-grade-badge [grade]="tech.lowestGrade" *ngIf="!isLocked(tech)"></app-grade-badge>
            <span *ngIf="!isLocked(tech) && tech.lowestGrade != tech.highestGrade">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </span>
            <app-grade-badge [grade]="tech.highestGrade" *ngIf="!isLocked(tech) && tech.lowestGrade != tech.highestGrade"></app-grade-badge>
          </div>
        </div>
        <div class="middle-line">
          <ion-note *ngIf="!isLocked(tech)" slot="end">{{progressNumbers(tech)}}</ion-note>
          <ion-note *ngIf="isLocked(tech)" slot="end">Unavailable</ion-note>
          <span class="number-locked-techniques" *ngIf="numberOfUnavailableTechniques(tech) > 0 && !isLocked(tech)"><ion-icon name="lock-closed-outline"></ion-icon>{{numberOfUnavailableTechniques(tech)}}</span>
        </div>

        <ion-progress-bar *ngIf="!isLocked(tech)" slot="end" [value]="progress(tech)"></ion-progress-bar>

      </ion-label>
      <ion-icon *ngIf="isLocked(tech)"  slot="end" name="lock-closed-outline"></ion-icon>

    </ion-item>
  </ion-list>

</ion-content>
