.aclass-container {
  height: 100px;
  width: 80px;
  background: #4BC9F8;
  border-radius: 10px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline-flex;

}

.aclass-group {
  display: flex;
  flex-flow: wrap;
}
@media screen and (max-width: 600px) {
  .aclass-group {
    justify-content: center;
  }
}


.data {
  margin: 8px 0;
  font-size: 12px;
}

.date {
  font-weight: bold;
}

.upcoming-classes-title {
  margin: 10px 10px 0px 10px;
  font-size: 20px;
  font-weight: bold;
}
