<ion-app>
<!--  <ion-split-pane contentId="main-content">-->
  <div *ngIf="shouldShowSignOut">

    <ion-menu contentId="main-content" type="reveal">
        <ion-content>
          <ion-list id="inbox-list">
            <div class="header">
              <ion-img class="hb-logo" src="/assets/hb_logo.png"></ion-img>
              <div class="hb-text">Hapkido Brisbane</div>
              <div class="hb-text">Student App</div>
              <ion-note *ngIf="userEmail">{{userEmail}}</ion-note>
            </div>

            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                <ion-icon color="medium" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <auth-sign-out [config]="buttonConfig"></auth-sign-out>

        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
  </div>
  <div *ngIf="!shouldShowSignOut">
    <ion-router-outlet id="sign-in"></ion-router-outlet>
  </div>
<!--  </ion-split-pane>-->
</ion-app>
