

ion-card-header{
  padding-left: 0;
}



@media screen and (min-width: 420px) {
  img {
    border: 0;
    width: 400px;
    height: 225px;
  }

  ion-card {
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  img {
    border: 0;
    width: 300px;
    height: 168px;
  }

  ion-card {
    width: 300px;
  }
}

app-grade-badge, ion-card-title {
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
