<div class="categories-title">Categories</div>

<div class="categories-button ">
  <div class="category-group technique-guide">
    <ion-button class="category-button" routerLink="/technique">
      <ion-icon name="videocam"></ion-icon>
    </ion-button>
    <div class="button-text">Techniques Guide</div>
  </div>

  <div class="category-group timetable">
    <ion-button class="category-button" href="https://www.hapkidobrisbane.com.au/timetable">
      <ion-icon name="calendar"></ion-icon>
    </ion-button>
    <div class="button-text">Timetable</div>
  </div>

  <div class="category-group profile">
    <ion-button class="category-button" routerLink="/profile">
      <ion-icon name="person"></ion-icon>
    </ion-button>
    <div class="button-text">Profile</div>
  </div>

  <div class="category-group favourites">
    <ion-button class="category-button" routerLink="/technique/list/favourites">
      <ion-icon name="star"></ion-icon>
    </ion-button>
    <div class="button-text">Favourites</div>
  </div>

  <div class="category-group website">
    <ion-button class="category-button" href="https://www.hapkidobrisbane.com.au/">
      <ion-icon name="desktop"></ion-icon>
    </ion-button>
    <div class="button-text">Website</div>
  </div>

  <div class="category-group newsletter">
    <ion-button class="category-button" href="https://www.hapkidobrisbane.com.au/newsletters">
      <ion-icon name="newspaper"></ion-icon>
    </ion-button>
    <div class="button-text">Newsletter</div>
  </div>

  <div class="category-group other">
    <ion-button class="category-button" href="https://www.youtube.com/user/steves1hapkido2">
      <ion-icon name="book"></ion-icon>
    </ion-button>
    <div class="button-text">Other Resources</div>
  </div>

</div>

